@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-secondary-bg-color, white);
}

*[class^="tgui-"][role="tablist"] {
  background-color: transparent;
}

*[class^="tgui-"][role="tablist"] > div > div {
  background-color: var(--tg-theme-button-color, #2990ff);
}

label {
  background-color: transparent !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}