@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-secondary-bg-color, white);
}

*[class^="tgui-"][role="tablist"] {
  background-color: transparent;
}

*[class^="tgui-"][role="tablist"] > div > div {
  background-color: var(--tg-theme-button-color, #2990ff);
}

label {
  background-color: transparent !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}

.modal-input {
  & > div {
    margin: 0 2px;
    padding: 2px 1.5rem calc(1rem + 2px);

    & > label {
      border-radius: 14px;
      box-shadow: 0 0 0 2px var(--tgui--outline);

      &:has(input:focus) {
        box-shadow: 0 0 0 2px var(--tgui--link_color);
      }
    }
  }
}
