@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-secondary-bg-color, white);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}

body > div[class^="tgui-"] {
  width: 100%;
  height: 100%;
  position: absolute;
}

.AAA {
  position: absolute !important;
  bottom: 0 !important;
  transform: translate3d(0, 0, 0) !important;

  overflow: hidden !important;
}

.AAA > * {
  overflow: hidden !important;
}

#Zaza > div {
  max-height: 100%;
  flex-grow: 1;
}

.AAA::after {
  display: none !important;
}
